.appointments {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    padding: 1vw;
    gap: 1vw;
    height: 100%;

}

.calendar {
    width: 40vw;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: .5vw;
    overflow: hidden;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #f4f4f4;
}

.days-of-week {
    display: flex;
    background-color: #f4f4f4;

}

.days-of-week div {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;

}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days div {
    flex: 1 0 calc(14.28% - 2px);
    /* Adjust for 7 columns with spacing */
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.days div:hover {
    background-color: #f0f0f0;
}

.appointment-details {
    width: fit-content;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    border-radius: 0.5vw;
    padding: 1vw;

}



.hide {
    display: none;
}

#appointmentTable {
    width: 35vw;
    font-family: "Raleway", sans-serif;
    font-size: 1.25vw;


}


#appointmentTable th,
#appointmentTable td {
    padding: 1vw;
    border: .1vw solid rgb(204, 204, 204);
    border-radius: .5vw;

}

#appointmentTable th {
    background-color: #f4f4f4;
}