@import url(../admin/admin.css);

.dashboard {
    display: flex;
    flex-direction: row;
    width: 75vw;
    gap: 5vw;
    padding: 2vw 0vw;
}

.user {
    display: flex;
    flex-wrap: wrap;
    max-width: 45vw;
    justify-self: center;
    align-self: center;
    gap: 4vw;

    h1 {
        padding-left: 5vw;
    }
}

.userStat {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 25vw;
    gap: 3vw;
    padding: 0 6vw;
    flex-wrap: wrap;

    .userCount {
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);
        width: 13vw;
        height: 12vw;
        border-radius: 1vw;
        display: flex;
        flex-direction: column;

        h6,
        h1 {
            text-align: center;
            padding: .3vw 2vw;
            text-wrap: nowrap;

        }



        i {
            padding: .6vw 1vw;

        }
    }
}

.reviews {
    width: 100%;
    padding-left: 5vw;
    padding-bottom: 5vw;

    table {
        width: 70vw;
        align-self: center;
        justify-items: center;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);


        tr {
            height: 2vw;
            border-radius: .2vw;

        }

        th,
        td {
            text-align: left;
        }

    }
}

.avg_appointments {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5vw;
    gap: 2vw;
    width: 30vw;
    height: 25vw !important;
    border-radius: 1vw;
    padding: 1vw;


    h1 {
        width: 30vw;
    }
}

#incomeChart {
    flex: 1;
    height: 15vw !important;
    width: 30vw !important;


}

.customer-insights {
    display: flex;
    flex-direction: column;
    width: 35vw !important;
    height: fit-content;
    gap: 3vw;
    position: relative;


    h1 {
        width: 30vw;
    }

}

.insight-card {
    padding: 1vw;
    border-radius: 1vw;
    width: 30vw !important;
    height: 25vw !important;


}

#demographicsLineChart,
#acquisitionPieChart {
    width: 30vw !important;
    height: 25vw !important;
}