@import url(../admin/admin.css);



.inventory {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.inventorySummary {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1vw;
    width: 80vw;
    align-self: center;
    margin-left: 4vw;
    margin-bottom: 2vw;

    h3 {
        width: fit-content;
        align-self: center;

    }
}

.inventory-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    align-self: center;
    width: fit-content;

}

.inventory-overview p {
    font-size: 16px;
    margin-bottom: 5px;
}

.inventoryUpdate {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 3vw;
}

td input {
    width: 8vw;
    border: none;
    padding: .5vw;
}

form input {
    width: 8vw;
    border: none;
    padding: .5vw;
}

.product-image {
    width: fit-content;
    height: 10vw;
}


.inventory-table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 60vw;


}

.inventory-table th,
.inventory-table td {
    width: 5VW;
    border: 1px solid #ddd;
    padding: .5vw;
}

.inventory-table th {
    background-color: rgba(252, 206, 206, 1);
}

.update-btn,
.delete-btn,
.add-item-btn,
.save-btn {
    background-color: rgb(33, 150, 243);
    color: white;
    padding: .5vw .5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.save-btn {
    background-color: green;
    margin-bottom: 1vw;
}

.delete-btn {
    background-color: #f44336;
}

.add-item-btn {
    margin-top: 20px;
}

.add-table {
    margin-bottom: 4vw;
}