.account {
    width: 82vw;
}

.settings-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 0 20vw;

}

.profile-picture-section {
    margin-bottom: 20px;
    width: 40vw;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.profile-picture-container img {
    width: 100px;
    height: 100px;
    flex: 2;
    object-fit: cover;
    border-radius: 50%;
    border: .3vw solid black;
}

.profile-picture-container input[type="file"] {
    width: fit-content;
}

.remove-btn {
    background-color: #f44336;
    color: white;
    padding: .5vw 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1vw;
    flex: 3;
}

.remove-btn:hover {
    background-color: #e53935;
}

.form-group {
    width: 40vw;
    margin-bottom: 15px;
    margin: 1.5vw 5vw;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
}

.save-changes-btn {
    background-color: #4caf50;
    width: 10vw;
    color: white;
    padding: .5vw 1vws;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15vw;
}

.save-changes-btn:hover {
    background-color: #45a049;
}

#status-message {
    margin-top: 15px;
    font-size: 14px;
}