/*LogIn */
* {
    margin: 0;
    padding: 0;
    color: rgb(55, 4, 33);
}

body {
    overflow-x: hidden;
}



h1 {
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1.5vw;
}

p,
a,
h6 {
    font-size: 1.25vw;
    font-family: "Raleway", sans-serif;
    font-weight: 400;

}


button {
    width: fit-content;
    height: fit-content;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1vw;
    font-weight: 100;

}

.primary {
    background: rgba(252, 206, 206, 1);
    border: 0.1vw rgba(246, 134, 134, 1) solid;

    box-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
    transition: all 1s cubic-bezier(.17, .67, .83, .67);


}

.primary:hover {
    background: linear-gradient(90deg, rgba(252, 206, 206, 1) 0%, rgba(246, 134, 134, 1) 100%);
    border-radius: 2vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;

}

.secondary {
    background-color: transparent;
    border: 0.1vw rgba(246, 134, 134, 1) solid;
    transition: all .5s cubic-bezier(.17, .67, .83, .67);
    color: rgb(166, 2, 2);



}

.secondary:hover {
    background: rgba(246, 134, 134, 1);
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    border-radius: 2vw;
    border: none;
}

.background {
    width: 100vw;
    height: 100vw;
    background: rgb(245, 205, 203);
    overflow-y: hidden;
}

.blob {
    position: absolute;
    border-radius: 50vw;
    filter: blur(8vw);
}

.blob:nth-child(1) {
    top: 1vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    background: rgb(79, 218, 239);

}

.blob:nth-child(2) {
    top: 15vw;
    right: 25vw;
    width: 8vw;
    height: 8vw;
    background: rgb(109, 62, 176);

}

.blob:nth-child(3) {
    top: 17vw;
    left: 30vw;
    width: 10vw;
    height: 10vw;
    background: rgb(231, 136, 244);

}

.blob:nth-child(4) {
    top: 35vw;
    left: 50vw;
    width: 8vw;
    height: 8vw;
    background: rgb(211, 237, 15);

}

.blob:nth-child(5) {
    top: 35vw;
    left: 10vw;
    width: 15vw;
    height: 15vw;
    background: rgb(64, 181, 76);

}

.blob:nth-child(6) {
    top: 5vw;
    right: 5vw;
    width: 5vw;
    height: 5vw;
    background: rgb(228, 49, 46);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    position: relative;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    padding: 1vw 4vw;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    text-align: center;
    justify-items: center;
    backdrop-filter: blur(5px);
    transition: transform 0.5s ease, opacity 0.5s ease;

    h2 {
        font-size: 3vw;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .8vw;
        align-content: center;
        justify-self: center;

        a {
            margin-top: -2vw;
            margin-left: 15.5vw;
            font-size: 1vw;
            margin-bottom: 1vw;
        }
    }

    input {
        width: 100%;
        padding: 0.8vw;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1vw;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }

    label {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 1.25vw;
    }

    button {
        align-self: center;

    }
}



.hide {
    transform: translateY(100%);
    opacity: 0;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

/* Dashboard*/

.admin {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(253, 248, 248);
}

.verMenu {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #ff8f8f;
    padding: .5vw;

    div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        gap: 2vw;

        h1 {
            margin-top: 1vw;
            padding: 1vw 2vw;

        }
    }

    div:nth-of-type(2),
    .items {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-self: baseline;

        a {
            border-radius: 1.5vw;
            padding: .5vw 3vw;
            font-size: 1.25vw;
            text-decoration: none;
            text-transform: uppercase;
            font-family: Raleway;
        }


    }




}

main {
    flex: 5;
    width: 80%;
    justify-content: center;

}

header {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1vw;
    align-items: center;

    h3 {
        flex: 2;

    }

    .search {
        flex: 1;
        display: flex;
        gap: 1vw;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black;

        i {
            font-size: 1vw;
            background: none !important;
            border: none !important;
        }

        input {
            padding: .5vw;
            border-radius: 1vw;
            border: none;
            box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(234, 229, 229, 0.353) inset;

        }
    }

    .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5vw;

        div {
            height: 3vw;
            width: 3vw;
            border-radius: 50vw;
            background-color: black;
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 70vw;
    gap: 5vw;
    padding: 2vw 0vw;
}

.user {
    display: flex;
    width: 45vw;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 4vw;

    h1 {
        padding-left: 5vw;
    }
}

.userStat {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 25vw;
    gap: 3vw;
    padding: 0 5vw;
    flex-wrap: wrap;

    .userCount {
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);
        width: 13vw;
        height: 10vw;
        border-radius: 1vw;
    }
}

.reviews {
    width: 100%;
    background-color: rgb(249, 249, 249);
    padding-left: 5vw;
    padding-bottom: 5vw;

    table {
        width: 70vw;
        align-self: center;
        justify-items: center;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);


        tr {
            height: 2vw;
            border-radius: .2vw;

        }

        th,
        td {
            text-align: left;
        }

    }
}

.appointments {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5vw;
    gap: 2vw;
    width: 30vw;
    height: 25vw !important;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);


    h1 {
        width: 30vw;
    }
}

#incomeChart {
    flex: 1;
    height: 15vw !important;
    width: 30vw !important;


}

.customer-insights {
    display: flex;
    flex-direction: column;
    width: 35vw !important;
    height: fit-content;
    gap: 3vw;
    position: relative;


    h1 {
        width: 30vw;
    }

}

.insight-card {
    padding: 1vw;
    border-radius: 1vw;
    width: 30vw !important;
    height: 25vw !important;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);


}

#demographicsLineChart,
#acquisitionPieChart {
    width: 30vw !important;
    height: 25vw !important;
}