* {
    margin: 0;
    padding: 0;
    color: rgb(55, 4, 33);



}

body {
    overflow-x: hidden;
}

@keyframes animate {
    from {
        opacity: 0.2;

    }

    to {
        opacity: 1;
    }
}




main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(249, 244, 233);


}

h1,
h3 {
    font-family: 'Perpetua Titling MT', sans-serif;
}

h3 {
    font-size: 1.25vw;
}

p,
a,
h6 {
    font-size: 1.25vw;
    font-family: "Raleway", sans-serif;
    font-weight: 400;

}


header {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10vw;
    margin-top: 2vw;

    img {
        width: 5vw;
        height: 5vw;
        border-radius: 50vw;

    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 8vw;
        align-self: center;
        font-size: 1.25vw;

    }

    a:hover {
        color: rgb(166, 2, 2);
        padding: .5vw 1vw;
        border-radius: 2vw;
        text-align: center;
        transform: translateY(-1vw);
        box-shadow: 2px 2px 1px rgba(55, 4, 33, 0.046), 2px 2px 5px rgba(234, 229, 229, 0.353) inset;
        text-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);

    }
}

button {
    width: fit-content;
    height: fit-content;
    padding: .5vw 1vw;

    border-radius: 0.5vw;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1vw;
    font-weight: 100;

}

.primary {
    background: rgba(252, 206, 206, 1);
    border: none;
    box-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
    transition: all 1s cubic-bezier(.17, .67, .83, .67);

}

.primary:hover {
    background: linear-gradient(90deg, rgba(252, 206, 206, 1) 0%, rgba(246, 134, 134, 1) 100%);
    border-radius: 2vw;
}

.secondary {
    background-color: transparent;
    border: 0.1vw rgba(246, 134, 134, 1) solid;
    transition: all .5s cubic-bezier(.17, .67, .83, .67);
    color: rgb(166, 2, 2);



}

.secondary:hover {
    background: rgba(246, 134, 134, 1);
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    border-radius: 2vw;

    border: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all cubic-bezier(.17, .67, .83, .67) .5s;
}



.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 10vw;
    height: fit-content;
    animation-name: animate;
    animation-duration: 4s;


}


.hero__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: fit-content;
    align-content: center;
    margin-top: 5%;
    padding-bottom: 2%;
    gap: 3vw;
    max-height: fit-content;



    p {
        width: 33vw;
        text-wrap: wrap;
        font-size: 1.25vw;
        text-align: justify;
    }

    h6 {
        font-size: 1.5vw;
    }
}

.hero__image {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 36vw;
    width: 26;
    flex: 1;

}

.circle {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    height: 26vw;
    width: 25.5vw;
    right: 5vw;
    top: -1.5vw;
    background: radial-gradient(circle, rgba(253, 221, 214, 1) 15%, rgb(225, 137, 117) 100%);

}

.img__container {
    background-color: transparent;


    img {
        background-color: transparent;
        position: relative;
        z-index: 2;
        height: 32vw;
        width: 24vw;
        position: absolute;
        right: 18vw;
        top: 10vw;
    }
}



.services {
    position: relative;
    top: -7vw;
    width: 98vw;
    align-items: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
    margin-top: 4vw;
    padding: 2vw 0;
    background-color: rgb(249, 244, 233);

    h3 {

        flex: 1;
    }

    h6 {
        flex: 1;

    }

    .service {
        align-content: center;
        display: flex;
        height: fit-content;
        flex-direction: row;
        flex: 3;
        gap: 80px;


    }

    .service__arch {
        border-radius: 50% 50% 0 0;
        height: 15vw;
        width: 10vw;
        box-shadow: 4px 4px 15px rgba(85, 75, 81, 0.406);
        justify-content: center;
        align-content: center;
        text-align: center;

        transition: all ease-in 0.1s;

        p {
            color: rgb(166, 2, 2);
            visibility: hidden;
            justify-self: center;
        }



    }

    #hair {

        background: url(images/hairstyling.jpg);
        background-size: cover;
        justify-items: center;
        animation: slideInFromLeft 1s ease-out forwards;

    }

    #hair:hover {
        p {
            visibility: visible;
        }
    }

    #mani {

        background: url(images/mani.jpg);
        background-size: cover;
        justify-items: center;
        animation: slideInFromLeft 1.5s ease-out forwards;

    }

    #mani:hover {
        p {
            visibility: visible;
        }
    }

    #wax {

        background: url(images/wax.jpg);
        background-size: cover;
        justify-items: center;
        animation: slideInFromLeft 2s ease-out forwards;

    }

    #wax:hover {
        p {
            visibility: visible;
        }
    }

    #face {

        background: url(images/facial.jpg);
        background-size: cover;
        justify-items: center;
        animation: slideInFromLeft 2.5s ease-out forwards;

    }

    #face:hover {
        p {
            visibility: visible;
        }
    }
}

.best {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vw;
    text-transform: uppercase;

    .bestProducts {

        flex: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        column-gap: 3vw;

        .products {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            flex: 1;

            div {
                min-height: 15vw;
                min-width: 12vw;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 1vw;

            }

            p {
                line-height: 2vw;
            }



            #p1 {
                border-radius: 1vw;
                background-image: url(images/laneige\ 2.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);
                transition: all ease-in 2s;

            }

            #p1:hover {

                background-image: url(images/laneige\ 1.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);

            }

            #p2 {
                border-radius: 1vw;
                background-image: url(images/inkeylsist1.png), linear-gradient(180deg, rgb(246, 134, 134) 10%, rgb(252, 206, 206) 70%);
                transition: all ease-in 2s;

            }

            #p2:hover {
                background-size: cover;
                background-image: url(images/inkey\ list\ 2.webp), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);

            }

            #p3 {
                border-radius: 1vw;
                background-image: url(images/hair\ oil.png), linear-gradient(180deg, rgb(119, 231, 255) 10%, rgb(219, 248, 252) 70%);
                transition: all ease-in 2s;

            }

            #p3:hover {

                background-image: url(images/meille.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);

            }

            #p4 {
                border-radius: 1vw;
                transition: all ease-in 2s;

                background-image: url(images/beuaty.png), linear-gradient(180deg, rgb(246, 201, 134) 10%, rgba(252, 206, 206, 1) 70%);
            }

            #p4:hover {
                background-size: cover;
                background-image: url(images/JOOSEON.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);

            }

            #p5 {
                border-radius: 1vw;
                transition: all ease-in 2s;

                background-image: url(images/superstay.png), linear-gradient(180deg, rgb(94, 121, 50) 10%, rgb(228, 245, 161) 70%);
            }

            #p5:hover {

                background-image: url(images/vinyl.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);

            }


        }

    }


}

.client {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    justify-content: center;
    align-content: center;
    align-self: center;

    .client__img {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 23vw;
        row-gap: 5vw;
        height: 35vw;


        #client__arch {
            position: absolute;
            top: 118vw;
            z-index: 1;
            width: 23vw;
            height: 23vw;
            border-radius: 0 50vw 0 0;
            background-color: rgb(246, 134, 134);

        }

        img {
            background-color: transparent;
            z-index: 2;
            position: relative;
            left: 3vw;
            height: 30vw;
            width: 17vw;
            margin-bottom: 0vw;

        }



    }

    .client__testimonial {
        display: flex;
        flex-direction: column;
        flex: 1;
        row-gap: 1vw;
        height: fit-content;
        margin-bottom: 0vw;

        p {
            font-size: 1.25vw;
            max-width: 40vw;
            z-index: 2;
            text-align: justify;
            text-wrap: wrap;
        }

        h1 {
            color: rgb(246, 134, 134);
            font-size: 11vw;
            position: relative;
            z-index: 1;
            top: 5vw;
            right: 5vw;

        }
    }


}

.prodIng {
    display: flex;
    position: relative;
    top: 10vw;
    justify-items: center;
    align-self: center;
    gap: 5vw;

    .ingredients {
        display: flex;
        flex-direction: column;
        gap: 5vw;

        h1 {
            width: 20vw;
        }

        p {
            width: 30vw;
            text-align: justify;
        }
    }


}

footer {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: relative;
    column-gap: 10vw;
    align-self: center;
    justify-content: center;
    margin-top: 10vw;

    .col1 {
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 3vw;
        width: max-content;
        margin-top: -3vw;

        img {
            width: 12vw;
            height: 12vw;
            border-radius: 50vw;


        }

        p {
            line-height: 3vw;
            align-self: center;
        }


    }

    .Menu {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-wrap: nowrap;
        width: fit-content;
        margin-bottom: 2vw;

        ul {
            display: flex;
            flex-direction: column;
            gap: 2vw;
        }

        li {
            line-height: 3vw;
            text-wrap: nowrap;
        }

        h3 {
            line-height: 3vw;
        }

        p {
            line-height: 3vw;
        }

        a:hover {
            color: rgb(166, 2, 2);
            text-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
            text-decoration: underline;

        }
    }
}

/* About Us*/


.body {
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about {
    min-height: 30vw;
    max-width: 70vw;

    display: flex;
    padding: 0vw 10vw;
    gap: 2VW;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    /* opacity: 0; */

    .us {
        flex: 3;
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        gap: 5vw;
        max-height: 30vw;



        .TEXT {
            display: flex;
            flex-direction: column;
            padding-left: 8vw;
            gap: 2vw;
            flex: 5;
            width: 80%;
            max-height: 40%;
            text-wrap: wrap;
            font-size: 1.25vw;
            animation: slideInFromLeft 1s ease-out forwards;

        }

        .grpImg {
            flex: 1;
            width: 100%;
            height: fit-content;
            background: url(images/download.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 20vw 0vw 0 0;
            animation: slideInFromBottom 1s ease-out forwards;


        }

    }

    .abtImg {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-height: 30vw;
        gap: 1vw;

        .hairstyle {
            border-radius: 0 20vw 0 0;
            flex: 2;
            background: url(images/hairsylist.jpg);
            background-size: cover;
            background-position: center;
            animation: slideInFromTop 1s ease-out forwards;

        }

        .makeup {
            border-radius: 0 0 20vw 0;
            flex: 1;
            height: 20%;
            background: url(images/mua1.jpg);
            background-size: cover;
            background-position: center;
            animation: slideInFromRight 1s ease-out forwards;

        }
    }

}

.values {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.path {
    display: flex;
    gap: 20vw;
    height: 10vw;

}


.circular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;

    span {
        position: absolute;
        transform-origin: 0 6vw;
        /* change second value to change size of circle*/
    }

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }



    to {
        transform: rotate(360deg);
    }
}




.text {
    height: 150px;
    font-size: 1vw;
    animation: rotate 5s infinite;

}






.interior {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    text-align: center;


}

.rep,
.nailstud,
.hairCut {
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translateY(100%);
    /* Initial position off-screen */
}

.interior div {
    display: flex;
    gap: 3vw;
    align-items: baseline;
    justify-content: center;



}

.rep {
    height: 30vw;
    width: 15vw;
    background: url(images/interior3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50vw 50vw 0 50vw;
    box-shadow: 2px 2px 5px rgba(85, 75, 81, 0.406);
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: slideInFromBottom 1s ease-out forwards;


}

.nailstud {
    height: 25vw;
    width: 15vw;
    background: url(images/interior2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 5px rgba(85, 75, 81, 0.406);
    border-radius: 50vw 50vw 0 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: slideInFromBottom 1s ease-out .2s forwards;

}

.hairCut {
    height: 20vw;
    width: 15vw;
    background: url(images/interior1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 5px rgba(85, 75, 81, 0.406);
    background-size: cover;
    border-radius: 50vw 50vw 10vw 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: slideInFromBottom 1s ease-out .5s forwards;
}


.meet {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    gap: 3vw;

    div {
        display: flex;
        gap: 3vw;
        justify-content: center;


        .team {
            width: 13vw;
            height: 15vw;
            background-color: blue;

            transition: all .5s cubic-bezier(.17, .67, .83, .67);


            p {
                visibility: hidden;
                text-align: center;
                position: relative;
                top: 7vw;
                color: azure;
            }
        }

        .team:hover {
            opacity: 0.5;
            box-shadow: 2px 2px 5px rgba(85, 75, 81, 0.406);


            p {
                visibility: visible;
                opacity: 1;
            }

        }

        .mem1 {
            border-radius: 50vw 50vw 0 0;
            animation: slideInFromBottom 1.5s ease-out 5s forwards;
            opacity: 0;

        }

        .mem2 {
            animation: slideInFromTop 1.5s ease-out 5s forwards;
            border-radius: 0 0 50vw 50vw;
            opacity: 0;
        }

        #barb {
            background: url(images/haistylist\ team.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;


        }

        #mua {
            background: url(images/mua.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }

        #lash {
            background: url(images/Lash\ Helm.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }

        #nail {
            background: url(images/nail\ tech.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }

    }
}

/*Products*/
.prodBody {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-self: center;
    font-size: 2vw;
    gap: 1vw;

    .txtBtn {
        display: flex;
        gap: .5vw;
        position: relative;
        top: 10vw;
        animation: slideInFromLeft 1.5s ease-out forwards;


        .btn {
            display: flex;
            flex-direction: column;
        }
    }


}

.prodArch {
    height: 31vw;
    z-index: 3;
    animation: slideInFromRight 1.5s ease-out forwards;


    .rem h1 {
        letter-spacing: .3vw;
        z-index: 1;
        position: relative;
        top: 10vw;
        color: transparent;
        -webkit-text-stroke-width: 0.1vw;
        -webkit-text-stroke-color: rgb(244, 232, 239);
    }

    .imgArch {
        position: relative;
        bottom: 10vw;
        z-index: -1;
        background: url(images/monsuri.png);
        width: 25vw;
        height: 30vw;
        border-radius: 50vw 50vw 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 2px 2px 15px rgba(85, 75, 81, 0.406);
    }

    .shadowArch {
        position: relative;
        bottom: 40.5vw;
        left: 1vw;
        z-index: -2;
        width: 25vw;
        height: 30vw;
        border-radius: 50vw 50vw 0 0;
        background-color: rgb(253, 221, 214);
    }

}

.igd {
    display: flex;
    max-width: 80vw;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: -5vw;

    .abtProd {
        flex: 2;
        width: 10vw;
        height: 5vw;
        border-radius: 1.25vw;

    }

    .abtInfo {
        flex: 1;
        gap: 1vw;
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: fit-content;
        animation: slideInFromTop 1.5s ease-out forwards;


        p {
            font-size: 1vw;
            height: 5vw;
            width: 12.5vw;
            animation: slideInFromBottom 1.5s ease-out forwards;
            text-align: justify;
        }
    }

    #ing1 {
        background: url(images/ing3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: slideInFromBottom 3s ease-out forwards;

    }

    #ing2 {
        background: url(images/ing\ 2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: slideInFromBottom 1s ease-out forwards;

    }
}

.categories {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 3vw;
    text-align: center;

    .category {
        display: flex;
        width: fit-content;
        gap: 3vw;

        h3 {
            position: relative;
            top: 15vw;
            right: 2vw;
            z-index: 2;
            color: transparent;
            -webkit-text-stroke-width: 0.1vw;
            -webkit-text-stroke-color: rgb(55, 4, 33);
            font-family: "Raleway", sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: .2vw;
        }

        .each {
            width: 15vw;
            height: 18vw;
            align-content: baseline;
            border-radius: 1vw;
            box-shadow: 2px 2px 5px rgba(85, 75, 81, 0.406);

        }

        #skin {
            background: url(images/skincare.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            animation: slideInFromLeft 5s ease-out forwards;

        }

        #makeup {
            background: url(images/makeup.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            animation: slideInFromLeft 3s ease-out forwards;


        }

        #hairCare {
            background: url(images/haircare.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            animation: slideInFromLeft 2s ease-out forwards;
            background-position: center;
        }
    }
}

.bestSeller {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-items: center;
    align-self: center;
    text-align: center;
    height: fit-content;

    .button {
        align-self: center;
        border-top: 5vw;

    }

    .sellers {
        display: flex;
        flex-direction: column;
        gap: 2vw;

        .row1 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            animation: slideInFromLeft 2s ease-out forwards;



            .products {
                display: flex;
                flex-direction: column;
                height: fit-content;
                width: 13vw;

                flex: 1;

                p {
                    width: fit-content;
                    text-align: left;
                }

                div {
                    height: 15vw;
                    width: 12vw;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-bottom: 1vw;
                }

                #prod1 {
                    border-radius: 1vw;
                    background-image: url(images/laneige\ 2.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);

                }

                #prod1:hover {

                    background-image: url(images/laneige\ 1.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);
                    transition: all ease-in 2s;

                }

                #prod2 {
                    border-radius: 1vw;
                    background-image: url(images/inkeylsist1.png), linear-gradient(180deg, rgb(246, 134, 134) 10%, rgb(252, 206, 206) 70%);

                }

                #prod2:hover {
                    background-size: cover;
                    background-image: url(images/inkey\ list\ 2.webp), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);
                    transition: all ease-in 2s;

                }

                #prod3 {
                    border-radius: 1vw;
                    background-image: url(images/hair\ oil.png), linear-gradient(180deg, rgb(119, 231, 255) 10%, rgb(219, 248, 252) 70%);
                }

                #prod3:hover {

                    background-image: url(images/meille.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);
                    transition: all ease-in 2s;

                }

                #prod4 {
                    border-radius: 1vw;
                    background-image: url(images/beuaty.png), linear-gradient(180deg, rgb(246, 201, 134) 10%, rgba(252, 206, 206, 1) 70%);
                }

                #prod4:hover {
                    background-size: cover;
                    background-image: url(images/JOOSEON.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);
                    transition: all ease-in 2s;

                }

                #prod5 {
                    border-radius: 1vw;
                    background-image: url(images/superstay.png), linear-gradient(180deg, rgb(94, 121, 50) 10%, rgb(228, 245, 161) 70%);
                }

                #prod5:hover {

                    background-image: url(images/vinyl.png), linear-gradient(180deg, rgba(134, 179, 246, 1) 10%, rgba(206, 224, 252, 1) 70%);
                    transition: all ease-in 2s;

                }

                .star {
                    width: fit-content;
                    height: fit-content;
                }



            }

        }

    }
}

/* log in */