body {
    display: grid;
    align-self: center;
    justify-items: center;
}

form {
    display: grid;
    justify-self: center;
    width: 20vw;
    height: fit-content;
    padding: 4vw;
    grid-template-columns: 1fr;
    gap: 1vw;
    font-size: 1.25vw;
    box-shadow: 1vw 1vw 1vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(240, 238, 238, 0.396);
    border-radius: 2vw;
    margin: 2vw;


}

input {
    outline: none;
    border: none;
    border-bottom: .02vw solid rgba(61, 60, 60, 0.66);
    padding: .2vw;
}

button {
    padding: .5vw;
    border-radius: 1vw;
    font-size: 1.1vw;
    margin-top: 1vw;
    border: none;
    box-shadow: .2vw .2vw .2vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(182, 180, 180, 0.249);

}

.primary {
    background-color: rgb(57, 143, 248);
    box-shadow: .2vw .2vw .2vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(169, 212, 249, 0.249);
    color: whitesmoke;

}

h6 a {

    align-items: right;
    position: relative;
    left: 13vw;
}

h6 {
    padding: 0;
    margin: 0;
}