<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Document</title>
</head>
<body>
<h1>WELCOME BACK!</h1>
<form action="http://localhost:8080/api/user/login" method="post">
    <label for="email" > Email</label>
    <input type="email" placeholder="abc@gmail.com" name="email" id="email" required>

    <label for="password">Password</label>
    <input placeholder="password" id="password" name="password" required>
    <h6><a>Forgot Password?</a></h6>

    <button class="primary"> Login</button>
    <button>Sign Up</button>
</form>

</body>
</html>