<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <title>Document</title>
</head>
<body>
<h1>Organization</h1>
<form action="api/user/" method="post" id="org">
  <label for="email" > Email</label>
  <input type="email" placeholder="abc@gmail.com" name="email" id="email" required>

  <label for="Organizaion" >Organization Name</label>
  <input type="text" placeholder="Kantipur Hospital" name="Organization" id="Organizaion" required>

  <label for="Address" >Address</label>
  <input type="text" placeholder="naxal" name="address" id="address" required>

  <label for="Phone" >Phone no</label>
  <input type="text" placeholder="984789456" name="Phone" id="Phone" required>








  <button class="primary" type="submit"> Submit </button>

</form>

</body>
</html>