<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/role.css">
  <title>Document</title>
</head>
<body>
<h1>Role</h1>
<form action="api/user/" method="post" id="role">
  <label for="Role" >Add Role Type:</label>
  <input type="text" placeholder="(eg:admin)" name="roletype" id="roletype" required>



  <button class="primary" type="submit"> Submit </button>

</form>
</body>
</html>