<section xmlns:th="http://www.thymeleaf.org" th:fragment="leftsidebar">

    <div class="sidebarContainer">
        <div class="sidebar" id="sidebar">
            <button class="toggle-btn" onclick="toggleSidebar()">☰</button>

            <a href="#appointments" >
                <i class="fa fa-history" aria-hidden="true"></i> <span class="menu-label">Appointments</span>
            </a>
            <a href="#bookAppointments" class="active">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span class="menu-label"> Book Appointments</span>
            </a>
            <a href="#profile">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="menu-label">Profile</span>
            </a>
            <a href="javascript:void(0)" id="logoutLink">
                <i class="fa fa-sign-out" aria-hidden="true"></i><span class="menu-label">Logout</span>
            </a>
        </div>
    </div>
    <script src="../static/js/toggle.js"></script> 

</section>