<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>
<body>


<form action="/api/user/signup" method="POST" enctype="multipart/form-data" class="form-container">
    <h2>WELCOME!</h2>
    <!-- First Row: First Name, Middle Name, Last Name -->
          <div class="form-row">
    <div class="form-field">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="First name" name="firstName" required>
    </div>
    <div class="form-field">
        <label for="middleName">Middle Name</label>
        <input type="text" id="middleName" placeholder="Middle name" name="middleName">
    </div>
    <div class="form-field">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last name" name="lastName" required>

    </div>
</div>
<div class="form-row">

    <!-- Second Row: Email, Contact Number -->
    <div class="form-field">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="eg: abc@gmail.com" name="email" required>
    </div>
    <div class="form-field">
        <label for="mobileNumber">Contact Number</label>
        <input type="text" id="mobileNumber" placeholder="Phone number" name="mobileNumber">
    </div>
</div>
<div class="form-row">

    <!-- Third Row: Password, Confirm Password -->
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" name="password" required>
    </div>
    <div class="form-field">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm password" name="confirmPassword" required>
    </div>
</div>
    <div class="form-row">
        <label for="image">Image</label><br>
        <input type="file" id="image" name="image" accept="image/*" class="product-image" onchange="previewImage(event)">
        <img class="image-preview" style="display: none; width: 60px; height: auto; ">
    </div>
    <!-- Buttons Row -->
    <div class="form-row">
        <button class="button primary" type="submit">Sign Up</button>
        <button  class="button" onclick="window.location.href='/login'">Login</button>
    </div>
</form>

</body>
<script>
    function previewImage(event) {
        const file = event.target.files[0];
        const preview = event.target.parentElement.querySelector('.image-preview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }
</script>
</html>

