* {
    margin: 0;
    padding: 0;
    color: rgb(55, 4, 33);



}

body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    background-color: rgb(249, 244, 233);


}

h1,
h3 {
    font-family: 'Perpetua Titling MT', sans-serif;
}


h3 {
    font-size: 1.25vw;
}

h1 {
    font-size: 2vw;
}

p,
a,
h6 {
    font-size: 1.25vw;
    font-family: "Raleway", sans-serif;
    font-weight: 400;

}

button {
    width: fit-content;
    height: fit-content;
    padding: .5vw 1vw;
    border-radius: 0.5vw;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1vw;
    font-weight: 100;

}

.primary {
    background: rgba(252, 206, 206, 1);
    border: 0.1vw rgba(246, 134, 134, 1) solid;

    box-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
    transition: all 1s cubic-bezier(.17, .67, .83, .67);

}

.primary:hover {
    background: linear-gradient(90deg, rgba(252, 206, 206, 1) 0%, rgba(246, 134, 134, 1) 100%);
    border-radius: 2vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;

}

.secondary {
    background-color: transparent;
    border: 0.1vw rgba(246, 134, 134, 1) solid;
    transition: all .5s cubic-bezier(.17, .67, .83, .67);
    color: rgb(166, 2, 2);



}

.secondary:hover {
    background: rgba(246, 134, 134, 1);
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    border-radius: 2vw;

    border: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all cubic-bezier(.17, .67, .83, .67) .5s;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vw;
    gap: 5vw;
}