form {
    display:flex;
    flex-direction:column;
    box-shadow: 1vw 1vw 1vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(240, 238, 238, 0.396);
    padding:2vw;
    border-radius:2vw;
    align-self:center;
    justify-self:center;
    margin: 2.8vw 30vw;
    width:fit-content;



}

.personal {
    display: flex;
    flex-direction:column;
    flex:2;
    gap: 1.5vw 5vw;



}

.ok {
    flex:1;


}
.form-row{
    display:flex;
    }
.form-row label {
            flex:1;

        }

        .form-row input {
            flex:1;

            box-sizing: border-box;
                border: none;
                /* Remove all borders */
                border-bottom: .02vw solid #2b2929db;
                /* Add a bottom border */
                outline: none;


        }

        /* Make each row of labels and inputs take 3 columns */
        .form-row {
            flex:1;
           display:flex;
           gap:3vw;

        }
button {
    flex:1;
    position: relative;
    align-self:center;
    width: 10vw;
    padding: .5vw;
    border-radius: 1vw;
    font-size: 1vw;
    margin-top: 1vw;
    border: none;
    box-shadow: .2vw .1vw .2vw rgba(73, 73, 73, 0.147), inset 1vw 1vw 1vw rgba(182, 180, 180, 0.249);

}

.primary {
    background-color: rgb(57, 143, 248);
    box-shadow: .2vw .1vw .2vw rgba(104, 101, 101, 0.187), inset 1vw 1vw 1vw rgba(169, 212, 249, 0.249) !important;
    color: whitesmoke;

}