body {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.doctor-name {
    font-size: 2vw;
    font-weight: 700;
}


.table {
  /* Your table styles here */
  display: flex;
  flex-direction: column;
  gap: 0;
  align-content: center;
  justify-items: center;

  thead{
  border-top:}
}

#calendar {
    width: 50%;
}