body {
    display: grid;
    align-self: center;
    justify-items: center;
}

form {
    margin: 1vw 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw 5vw;
    max-width: 60vw;
    box-shadow: 1vw 1vw 1vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(240, 238, 238, 0.396);
    padding: 5vw;
    border-radius: 2vw;

}

label {
    grid-column: span 1;
    align-self: center;
}

input {
    grid-column: span 1;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    /* Remove all borders */
    border-bottom: .02vw solid #2b2929db;
    /* Add a bottom border */
    outline: none;

}

button {
    padding: .5vw;
    border-radius: 1vw;
    font-size: 1.1vw;
    margin-top: 1vw;
    border: none;
    box-shadow: .2vw .2vw .2vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(182, 180, 180, 0.249);

}

.primary {
    background-color: rgb(57, 143, 248);
    box-shadow: .2vw .2vw .2vw rgba(55, 54, 54, 0.387), inset 1vw 1vw 1vw rgba(169, 212, 249, 0.249);
    color: whitesmoke;

}