*,html,body{
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    width: 5%;
    top: 2%;
    left: 2%;
    color: #fff;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding-top: .5vw;
    background-color: #333;
    border-radius: 2%;
    transition: width 0.3s;

    button {
        font-size: 16px;
    }
}


.sidebarContainer {
    height: 100%;
    width: 20%;
    border-radius: 2%;



}

.sidebar.collapsed {
    width: 15%;


}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 20% 1%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: padding 0.3s;
}

.sidebar.collapsed a {
    justify-content: center;
    padding: 10% 1%;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a.active {
    background-color: #444;
}

.sidebar i {

    align-items: right;
    padding: 1% 40%;
}

.sidebar.collapsed i {
    padding: 1% 5%;
    font-size: 16px;
}

.menu-label {
    display: none;
}

.sidebar.collapsed .menu-label {
    display: inline;
}

/* Toggle button styling */
.toggle-btn {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: padding 0.3s;
}

.sidebar.collapsed .toggle-btn {
    padding: 10px;
    text-align: right;
    font-size: 16px;
}

/* Main content area */
.content {
    width: 90%;
    padding: 20px;
    transition: margin-left 0.3s;
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed~.content {
    margin-left: 80px;
}