footer {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: relative;
    column-gap: 10vw;
    align-self: center;
    justify-content: center;
    margin-top: 10vw;

    .col1 {
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 3vw;
        width: max-content;
        margin-top: -3vw;

        img {
            width: 12vw;
            height: 12vw;
            border-radius: 50vw;


        }

        p {
            line-height: 3vw;
            align-self: center;
        }


    }

    .Menu {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-wrap: nowrap;
        width: fit-content;
        margin-bottom: 2vw;

        ul {
            display: flex;
            flex-direction: column;
            gap: 2vw;
        }

        li {
            line-height: 3vw;
            text-wrap: nowrap;
        }

        h3 {
            line-height: 3vw;
        }

        p {
            line-height: 3vw;
        }

        a:hover {
            color: rgb(166, 2, 2);
            text-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
            text-decoration: underline;

        }
    }
}