/*LogIn */
* {
    margin: 0;
    padding: 0;
    color: rgb(55, 4, 33);


}

body {
    overflow-x: hidden;

}



h1 {
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1.5vw;
}

p,
a,
h6 {
    font-size: 1.25vw;
    font-family: "Raleway", sans-serif;
    font-weight: 400;

}


button {
    width: fit-content;
    height: fit-content;
    padding: .5vw 1vw;
    border-radius: 0.5vw;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1vw;
    font-weight: 100;

}

.primary {
    background: rgba(252, 206, 206, 1);
    border: 0.1vw rgba(246, 134, 134, 1) solid;

    box-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
    transition: all 1s cubic-bezier(.17, .67, .83, .67);


}

.primary:hover {
    background: linear-gradient(90deg, rgba(252, 206, 206, 1) 0%, rgba(246, 134, 134, 1) 100%);
    border-radius: 2vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;

}

.secondary {
    background-color: transparent;
    border: 0.1vw rgba(246, 134, 134, 1) solid;
    transition: all .5s cubic-bezier(.17, .67, .83, .67);
    color: rgb(166, 2, 2);



}

.secondary:hover {
    background: rgba(246, 134, 134, 1);
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    border-radius: 2vw;
    border: none;
}

.background {
    width: 100vw;
    height: 100vw;
    background: rgb(245, 205, 203);
    overflow-y: hidden;
}

.blob {
    position: absolute;
    border-radius: 50vw;
    filter: blur(8vw);
}

.blob:nth-child(1) {
    top: 1vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    background: rgb(79, 218, 239);

}

.blob:nth-child(2) {
    top: 15vw;
    right: 25vw;
    width: 8vw;
    height: 8vw;
    background: rgb(109, 62, 176);

}

.blob:nth-child(3) {
    top: 17vw;
    left: 30vw;
    width: 10vw;
    height: 10vw;
    background: rgb(231, 136, 244);

}

.blob:nth-child(4) {
    top: 35vw;
    left: 50vw;
    width: 8vw;
    height: 8vw;
    background: rgb(211, 237, 15);

}

.blob:nth-child(5) {
    top: 35vw;
    left: 10vw;
    width: 15vw;
    height: 15vw;
    background: rgb(64, 181, 76);

}

.blob:nth-child(6) {
    top: 5vw;
    right: 5vw;
    width: 5vw;
    height: 5vw;
    background: rgb(228, 49, 46);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    position: relative;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    padding: 1vw 4vw;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    text-align: center;
    justify-items: center;
    backdrop-filter: blur(5px);
    transition: transform 0.5s ease, opacity 0.5s ease;

    h2 {
        font-size: 3vw;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .8vw;
        align-content: center;
        justify-self: center;

        a {
            margin-top: -2vw;
            margin-left: 15.5vw;
            font-size: 1vw;
            margin-bottom: 1vw;
        }
    }

    input {
        width: 100%;
        padding: 0.8vw;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1vw;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }

    label {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 1.25vw;
    }

    button {
        align-self: center;

    }
}



.hide {
    transform: translateY(100%);
    opacity: 0;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

/* Admin Panel*/

.admin {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(253, 248, 248);
}

.verMenu {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #ff8f8f;
    padding-bottom: 1vw;

    div:nth-of-type(1) {
        display: flex;
        flex: 5;
        flex-direction: column;
        gap: 2vw;

        h1 {
            margin-top: 1vw;
            padding: 1vw 2vw;

        }
    }

    .items {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2vw;


    }

    a {
        border-radius: 1.5vw;
        padding: .5vw 3vw;
        font-size: 1.25vw;
        text-decoration: none;
        text-transform: uppercase;
    }

    div:nth-of-type(2) {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }








}

main {
    flex: 5;
    width: 80%;
    justify-content: center;

}

header {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1vw;
    align-items: center;

    h3 {
        flex: 2;

    }

    .search {
        flex: 1;
        display: flex;
        gap: 1vw;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black;

        i {
            font-size: 1vw;
            background: none !important;
            border: none !important;
        }

        input {
            padding: .5vw;
            border-radius: 1vw;
            border: none;
            box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(234, 229, 229, 0.353) inset;

        }
    }

    .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5vw;

        div {
            height: 3vw;
            width: 3vw;
            border-radius: 50vw;
            background-color: black;
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 70vw;
    gap: 5vw;
    padding: 2vw 0vw;
}

.user {
    display: flex;
    width: 45vw;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 4vw;

    h1 {
        padding-left: 5vw;
    }
}

.userStat {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 25vw;
    gap: 3vw;
    padding: 0 6vw;
    flex-wrap: wrap;

    .userCount {
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);
        width: 13vw;
        height: 10vw;
        border-radius: 1vw;
    }
}

.reviews {
    width: 100%;
    background-color: rgb(249, 249, 249);
    padding-left: 5vw;
    padding-bottom: 5vw;

    table {
        width: 70vw;
        align-self: center;
        justify-items: center;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);


        tr {
            height: 2vw;
            border-radius: .2vw;

        }

        th,
        td {
            text-align: left;
        }

    }
}

.avg_appointments {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5vw;
    gap: 2vw;
    width: 30vw;
    height: 25vw !important;
    border-radius: 1vw;
    padding: 1vw;


    h1 {
        width: 30vw;
    }
}

#incomeChart {
    flex: 1;
    height: 15vw !important;
    width: 30vw !important;


}

.customer-insights {
    display: flex;
    flex-direction: column;
    width: 35vw !important;
    height: fit-content;
    gap: 3vw;
    position: relative;


    h1 {
        width: 30vw;
    }

}

.insight-card {
    padding: 1vw;
    border-radius: 1vw;
    width: 30vw !important;
    height: 25vw !important;


}

#demographicsLineChart,
#acquisitionPieChart {
    width: 30vw !important;
    height: 25vw !important;
}

/*Appoinments*/

.appointments {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    padding: 1vw;
    gap: 1vw;
    height: 100%;

}

.calendar {
    width: 40vw;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: .5vw;
    overflow: hidden;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #f4f4f4;
}

.days-of-week {
    display: flex;
    background-color: #f4f4f4;

}

.days-of-week div {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;

}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days div {
    flex: 1 0 calc(14.28% - 2px);
    /* Adjust for 7 columns with spacing */
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.days div:hover {
    background-color: #f0f0f0;
}

.appointment-details {
    width: fit-content;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    border-radius: 0.5vw;
    padding: 1vw;

}



.hide {
    display: none;
}

#appointmentTable {
    width: 35vw;
    font-family: "Raleway", sans-serif;
    font-size: 1.25vw;


}


#appointmentTable th,
#appointmentTable td {
    padding: 1vw;
    border: .1vw solid rgb(204, 204, 204);
    border-radius: .5vw;

}

#appointmentTable th {
    background-color: #f4f4f4;
}

/* Review Section */

.review {

    h1,
    h3,
    h2 {
        font-family: 'Perpetua Titling MT', sans-serif;

    }
}

.reviewChart {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    padding: 1vw;
    gap: 3vw;

}

.total-reviews {
    flex: 2;
    text-align: center;
    margin-bottom: 30px;

}

.total-reviews h2 {
    color: #333;

}

.review-count {
    font-weight: bold;
    color: rgba(246, 134, 134, 1);
    font-size: 3vw;
    margin-top: 2vw;
}

.review-breakdown {
    margin-bottom: 30px;
    flex: 4;
}

.review-breakdown h3 {
    color: #333;
    margin-bottom: 10px;
}

.bar {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;

}

.bar-fill {
    height: 0.75vw;
    background-color: rgba(246, 134, 134, 1);
    border-radius: 1vw;

}

.bar-value {
    justify-items: flex-end;

}

.service-reviews {
    flex: 2;
}

.service-reviews h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.service-reviews ul {
    list-style-type: none;
    padding: 0;
}

.service-reviews li {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}

.service-review-count {
    font-weight: bold;
    color: rgba(246, 134, 134, 1);
}

.reviewList {
    h1 {
        padding: 1vw 7vw;

    }
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 1vw 7vw;
    padding-bottom: 1vw;

}

.review-content {
    margin-bottom: 10px;
}

.respond-btn {


    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response-form {
    margin-top: 10px;
    width: 80vw;
}

.response-text {
    width: 80%;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.response-template {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.response-options {
    margin-bottom: 10px;
}

.response-options label {
    margin-right: 15px;
    font-size: 14px;
}

.send-response-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response-status {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

/*Inventory*/

.inventorySummary {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    max-width: 90vw;
    align-self: center;
    margin-left: 4vw;
    margin-bottom: 2vw;
}

.inventory-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;

}

.inventory-overview p {
    font-size: 16px;
    margin-bottom: 5px;
}

.inventoryUpdate {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left: 4vw;
    width: 90%;
}

.inventory-table {
    min-width: 50%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inventory-table th,
.inventory-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.inventory-table th {
    background-color: rgba(252, 206, 206, 1);
}

.update-btn,
.delete-btn,
.add-item-btn {
    background-color: rgb(33, 150, 243);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: #f44336;
}

.add-item-btn {
    margin-top: 20px;
}

/*Settings*/
.settings-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.profile-picture-section {
    margin-bottom: 20px;
    width: 45vw;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.profile-picture-container img {
    width: 100px;
    height: 100px;
    flex: 2;
    object-fit: cover;
    border-radius: 50%;
    border: .3vw solid black;
}

.profile-picture-container input[type="file"] {
    width: fit-content;
}

.remove-btn {
    background-color: #f44336;
    color: white;
    padding: .5vw 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1vw;
    flex: 3;
}

.remove-btn:hover {
    background-color: #e53935;
}

.form-group {
    width: 45vw;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.save-changes-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-changes-btn:hover {
    background-color: #45a049;
}

#status-message {
    margin-top: 15px;
    font-size: 14px;
}

/*LogIn */
* {
    margin: 0;
    padding: 0;
    color: rgb(55, 4, 33);


}

body {
    overflow-x: hidden;

}



h1,
h3 {
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1.5vw;
}

h3 {
    font-size: 1.25vw;
}

p,
a,
h6 {
    font-size: 1.25vw;
    font-family: "Raleway", sans-serif;
    font-weight: 400;

}


button {
    width: fit-content;
    height: fit-content;
    padding: .5vw 1vw;
    border-radius: 0.5vw;
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: 1vw;
    font-weight: 100;

}

.primary {
    background: rgba(252, 206, 206, 1);
    border: 0.1vw rgba(246, 134, 134, 1) solid;

    box-shadow: 4px 4px 15px rgba(85, 75, 81, 0.137);
    transition: all 1s cubic-bezier(.17, .67, .83, .67);


}

.primary:hover {
    background: linear-gradient(90deg, rgba(252, 206, 206, 1) 0%, rgba(246, 134, 134, 1) 100%);
    border-radius: 2vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;

}

.secondary {
    background-color: transparent;
    border: 0.1vw rgba(246, 134, 134, 1) solid;
    transition: all .5s cubic-bezier(.17, .67, .83, .67);
    color: rgb(166, 2, 2);



}

.secondary:hover {
    background: rgba(246, 134, 134, 1);
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    border-radius: 2vw;
    border: none;
}

.background {
    width: 100vw;
    height: 100vw;
    background: rgb(245, 205, 203);
    overflow-y: hidden;
}

.blob {
    position: absolute;
    border-radius: 50vw;
    filter: blur(8vw);
}

.blob:nth-child(1) {
    top: 1vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    background: rgb(79, 218, 239);

}

.blob:nth-child(2) {
    top: 15vw;
    right: 25vw;
    width: 8vw;
    height: 8vw;
    background: rgb(109, 62, 176);

}

.blob:nth-child(3) {
    top: 17vw;
    left: 30vw;
    width: 10vw;
    height: 10vw;
    background: rgb(231, 136, 244);

}

.blob:nth-child(4) {
    top: 35vw;
    left: 50vw;
    width: 8vw;
    height: 8vw;
    background: rgb(211, 237, 15);

}

.blob:nth-child(5) {
    top: 35vw;
    left: 10vw;
    width: 15vw;
    height: 15vw;
    background: rgb(64, 181, 76);

}

.blob:nth-child(6) {
    top: 5vw;
    right: 5vw;
    width: 5vw;
    height: 5vw;
    background: rgb(228, 49, 46);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    position: relative;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    padding: 1vw 4vw;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(239, 215, 215, 0.725) inset;
    text-align: center;
    justify-items: center;
    backdrop-filter: blur(5px);
    transition: transform 0.5s ease, opacity 0.5s ease;

    h2 {
        font-size: 3vw;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .8vw;
        align-content: center;
        justify-self: center;

        a {
            margin-top: -2vw;
            margin-left: 15.5vw;
            font-size: 1vw;
            margin-bottom: 1vw;
        }
    }

    input {
        width: 100%;
        padding: 0.8vw;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1vw;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }

    label {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 1.25vw;
    }

    button {
        align-self: center;

    }
}

@keyframes link {
    from {
        height: 1vw;
        box-shadow: none;
        border-radius: none;
        padding: .5vw 1vw;


    }

    to {
        height: 1.5vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 1.5vw;
        padding: .5vw 3vw;



    }

}

.hide {
    transform: translateY(100%);
    opacity: 0;
}

.show {
    transform: translateY(0);
    opacity: 1;


}

/* Admin Panel*/

.admin {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(253, 248, 248);
}

.verMenu {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #ff8f8f;
    padding-bottom: 1vw;

    div:nth-of-type(1) {
        display: flex;
        flex: 5;
        flex-direction: column;
        gap: 2vw;

        h1 {
            margin-top: 1vw;
            padding: 1vw 2vw;

        }
    }

    .items {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2vw;


    }



    div:nth-of-type(2) {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        text-align: center;
        justify-self: center;
    }

}

a {
    border-radius: 1.5vw;
    padding: .5vw 3vw;
    font-size: 1.25vw;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

a.clicked {
    width: 9vw;
    margin-left: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    animation: link 1s ease-out forwards;

}

main {
    flex: 5;
    width: 80%;
    justify-content: center;

}

header {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1vw;
    align-items: center;

    h3 {
        flex: 2;

    }

    .search {
        flex: 1;
        display: flex;
        gap: 1vw;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black;

        i {
            font-size: 1vw;
            background: none !important;
            border: none !important;
        }

        input {
            padding: .5vw;
            border-radius: 1vw;
            border: none;
            box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24), 2px 2px 5px rgba(234, 229, 229, 0.353) inset;

        }
    }

    .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5vw;

        div {
            height: 3vw;
            width: 3vw;
            border-radius: 50vw;
            background-color: black;
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 70vw;
    gap: 5vw;
    padding: 2vw 0vw;
}

.user {
    display: flex;
    width: 45vw;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 4vw;

    h1 {
        padding-left: 5vw;
    }
}

.userStat {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 25vw;
    gap: 3vw;
    padding: 0 6vw;
    flex-wrap: wrap;

    .userCount {
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);
        width: 13vw;
        height: 12vw;
        border-radius: 1vw;
        display: flex;
        flex-direction: column;

        h6,
        h1 {
            text-align: center;
            padding: .3vw 2vw;
            text-wrap: nowrap;

        }



        i {
            padding: .6vw 1vw;

        }
    }
}

.reviews {
    width: 100%;
    background-color: rgb(249, 249, 249);
    padding-left: 5vw;
    padding-bottom: 5vw;

    table {
        width: 70vw;
        align-self: center;
        justify-items: center;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(55, 4, 33, 0.24);


        tr {
            height: 2vw;
            border-radius: .2vw;

        }

        th,
        td {
            text-align: left;
        }

    }
}

.avg_appointments {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5vw;
    gap: 2vw;
    width: 30vw;
    height: 25vw !important;
    border-radius: 1vw;
    padding: 1vw;


    h1 {
        width: 30vw;
    }
}

#incomeChart {
    flex: 1;
    height: 15vw !important;
    width: 30vw !important;


}

.customer-insights {
    display: flex;
    flex-direction: column;
    width: 35vw !important;
    height: fit-content;
    gap: 3vw;
    position: relative;


    h1 {
        width: 30vw;
    }

}

.insight-card {
    padding: 1vw;
    border-radius: 1vw;
    width: 30vw !important;
    height: 25vw !important;


}

#demographicsLineChart,
#acquisitionPieChart {
    width: 30vw !important;
    height: 25vw !important;
}

/*Appoinments*/

.appointments {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    padding: 1vw;
    gap: 1vw;
    height: 100%;

}

.calendar {
    width: 40vw;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: .5vw;
    overflow: hidden;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #f4f4f4;
}

.days-of-week {
    display: flex;
    background-color: #f4f4f4;

}

.days-of-week div {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;

}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days div {
    flex: 1 0 calc(14.28% - 2px);
    /* Adjust for 7 columns with spacing */
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.days div:hover {
    background-color: #f0f0f0;
}

.appointment-details {
    width: fit-content;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    border-radius: 0.5vw;
    padding: 1vw;

}



.hide {
    display: none;
}

#appointmentTable {
    width: 35vw;
    font-family: "Raleway", sans-serif;
    font-size: 1.25vw;


}


#appointmentTable th,
#appointmentTable td {
    padding: 1vw;
    border: .1vw solid rgb(204, 204, 204);
    border-radius: .5vw;

}

#appointmentTable th {
    background-color: #f4f4f4;
}

/* Review Section */

.review {

    h1,
    h3,
    h2 {
        font-family: 'Perpetua Titling MT', sans-serif;

    }
}

.reviewChart {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    gap: 3vw;

}

.total-reviews {
    flex: 2;
    text-align: center;
    margin-bottom: 30px;

}

.total-reviews h2 {
    color: #333;

}

.review-count {
    font-weight: bold;
    color: rgba(246, 134, 134, 1);
    font-size: 3vw;
    margin-top: 2vw;
}

.review-breakdown {
    margin-bottom: 2vw;
    flex: 4;
}

.review-breakdown h3 {
    color: #333;
    margin-bottom: 10px;
}

.bar {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;

}

.bar-fill {
    height: 0.75vw;
    background-color: rgba(246, 134, 134, 1);
    border-radius: 1vw;

}

.bar-value {
    justify-items: flex-end;

}

.service-reviews {
    flex: 2;
}

.service-reviews h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.service-reviews ul {
    list-style-type: none;
    padding: 0;
}

.service-reviews li {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}

.service-review-count {
    font-weight: bold;
    color: rgba(246, 134, 134, 1);
}

.reviewList {
    h1 {
        padding: 1vw 7vw;

    }
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 1vw 7vw;
    padding-bottom: 1vw;

}

.review-content {
    margin-bottom: 10px;
}

.respond-btn {


    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response-form {
    margin-top: 10px;
    width: 80vw;
}

.response-text {
    width: 80%;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.response-template {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.response-options {
    margin-bottom: 10px;
}

.response-options label {
    margin-right: 15px;
    font-size: 14px;
}

.send-response-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response-status {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

/*Inventory*/


.inventorySummary {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    max-width: 90vw;
    align-self: center;
    margin-left: 4vw;
    margin-bottom: 2vw;
}

.inventory-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;

}

.inventory-overview p {
    font-size: 16px;
    margin-bottom: 5px;
}

.inventoryUpdate {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left: 4vw;
    width: 90%;
}

.inventory-table {
    min-width: 50%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inventory-table th,
.inventory-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.inventory-table th {
    background-color: rgba(252, 206, 206, 1);
}

.update-btn,
.delete-btn,
.add-item-btn {
    background-color: rgb(33, 150, 243);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: #f44336;
}

.add-item-btn {
    margin-top: 20px;
}

/*Settings*/
.settings-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.profile-picture-section {
    margin-bottom: 20px;
    width: 45vw;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.profile-picture-container img {
    width: 100px;
    height: 100px;
    flex: 2;
    object-fit: cover;
    border-radius: 50%;
    border: .3vw solid black;
}

.profile-picture-container input[type="file"] {
    width: fit-content;
}

.remove-btn {
    background-color: #f44336;
    color: white;
    padding: .5vw 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1vw;
    flex: 3;
}

.remove-btn:hover {
    background-color: #e53935;
}

.form-group {
    width: 45vw;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.save-changes-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-changes-btn:hover {
    background-color: #45a049;
}

#status-message {
    margin-top: 15px;
    font-size: 14px;
}